.page-section {
    padding-top: 1.5rem;

    .title {
        font-size: 1em;
    }

    .text {
        color:#838387;
    }

    .image-container {
        border-radius: 1em;
        overflow: hidden;
        // border: 1px solid #9D9D9F;
        background-color: #F1F4F6;
        line-height: 0;

        img {
            width: 100%;
        }

        .image-caption {
            font-size: 0.9em;
            color: #8E8E93;
            padding: 1rem;
            line-height: normal;
        }
    }
}
