.portfolio-card {
    &.looty {
        background-image: url("images/looty/looty-card.jpg");
        background-color: #222C7B;
        background-position: left;
        // background-blend-mode: multiply;
    }

    &.stickies {
        background-image: linear-gradient(to top, #FFFF01, transparentize(#FFFF01, 1)), url("images/stickies/stickies-card.jpg");
        background-position: top left;

        .subtitle {
            color: darken(#FFFF01, 30%);
        }
    }

    &.game-prototypes {
        background-image: /*linear-gradient(to bottom, white 20%, transparentize(white, 1) 50%),*/ url('images/game-prototypes/game-card-2.jpg');
        .subtitle {
            color: gray;
        }
    }

    &.forge {
        background-image: linear-gradient(to bottom, transparentize(white, 0.05) 20%, transparentize(white, 0.75) 50%, white), url('images/forge/forge-card.jpg');
        background-color: transparent;
        background-position: top;
        background-blend-mode: screen;
    }

    &.forge-help {
        background-image: linear-gradient(to bottom, transparentize(white, 0), transparentize(white, 0.1) 30%, transparentize(white, 1) 50%), url('images/forge/forge-help-card.jpg');
    }

    &.farbridge {
        background-image: linear-gradient(to bottom, transparentize(#ECE3CC, 0.1), transparentize(#f29ebf, 0.2)), url('images/farbridge/farbridge-card.jpg');
        background-blend-mode: hard-light;
        background-color: transparent;
        background-position: top;
        .subtitle {
            color: desaturate(#BD4573, 40%);
        }
    }

    &.magento {
        background-image: url('images/magento/magento-card.jpg');
        background-position: top;
    }

    &.about {
        background-image: linear-gradient(to bottom, transparentize(#5E442B, 0.75), transparentize(#1A2E45, 0.9)), url('images/about/about-card-right.jpg');
        background-position: top;
    }

    &.job-simulator {
        background-image: linear-gradient(to bottom, transparentize(#6C3F20, 0.25), transparentize(#6C3F20, 0.7)), url('images/job-simulator/job-simulator-card.jpg');
        background-color: transparent;
    }

    &.minecraft {
        background-image: linear-gradient(to bottom, transparentize(#251A0D, 0.2), transparentize(#251A0D, 1)), url('images/minecraft/minecraft-2.jpg');
    }

    &.ccm {
        background-image: url('images/ccm/ccm-card.jpg');
    }

    &.twitcher {
        background-image: linear-gradient(to bottom, transparentize(#333333, 0.1) 10%, transparentize(#333333, 1) 50%), url('images/twitcher/twitcher-card.jpg');
        background-position: top;
        // background-color: transparent;
        // background-blend-mode: multiply;
    }
}
