.portfolio-grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(5, 1fr);
}

.portfolio-card {
    display: flex;
    height: 400px;
    flex-direction: column;
    background: #F5F5F5;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 10px 40px 4px rgba(0, 0, 0, 0.10);
    grid-column-end: span 2;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;

    &.white {
        color: white;

        .subtitle {
            color: #DADADA;
        }
    }

    &.looty {
        background-image: linear-gradient(to bottom, transparentize(purple, 0.25), rgba(0,0,0,0.1)), url("images/looty-card.png");
        background-blend-mode: darken;
    }

    &:nth-child(4n+0),
    &:nth-child(4n+1) {
        grid-column-end: span 3;
    }

    .body {
        flex-grow: 1;
    }

    .footer {
        display: flex;
        align-items: center;

        .footnote {
            flex-grow: 1;
        }
    }
}
