.portfolio-grid {
    display: grid;
    grid-gap: 3rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(5, 1fr);
    position: relative;

    .portfolio-card-container {
        grid-column-end: span 2;
        box-shadow: 0 10px 40px 4px rgba(0, 0, 0, 0.20);
        border-radius: $border-radius;
        transition: all 0.2s ease;

        &:hover {
            transform: scale(1.01)
        }

        &:active {
            transition: all 0.1s ease;
            transform: scale(0.99)
        }

        &:nth-child(4n+0),
        &:nth-child(4n+1) {
            grid-column-end: span 3;
        }
    }

    @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: 1rem;
        .portfolio-card-container {
            grid-column-end: span 1 !important;

            &:hover { transform: none !important; }
            &:active { transform: none !important; }
        }
    }
}

.touchevents .portfolio-card-container {
    &:hover { transform: none !important; }
    &:active { transform: none !important; }
}

.portfolio-card-container {
    cursor: pointer;

    .portfolio-card {
        border-radius: $border-radius;
    }
}

.portfolio-card {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    background: #F5F5F5;
    padding: 1.5rem;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 0.25s ease;
    text-shadow: 0 2px 6px transparentize(white, 0.8);
    // &.active {
    //     z-index: 100;
    // }

    &.header-background .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: white;
        padding: 1.5rem;
        width: 100%;
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
    }

    .header {
        width: calc(100% - 2rem);
    }

    &.white {
        color: white;
        text-shadow: 0 2px 6px transparentize(black, 0.9);

        .subtitle {
            color: #DADADA;
        }
    }

    .body {
        flex-grow: 1;
    }

    .footer {
        display: flex;
        align-items: center;

        .footnote {
            flex-grow: 1;
        }
    }
}

@import "portfolio-card-backgrounds";
