* {
    box-sizing: border-box;
}

html {
    font-family: "San Francisco Display", "-apple-system", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    font-size: 20px;
    position: relative;

    &.page {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.no-scroll {
    overflow: hidden;
}

#main-outlet-overlay {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.25s;

    &.active {
        opacity: 1;
        pointer-events: auto;
        -webkit-backdrop-filter: blur(20px);
        @supports not (-webkit-backdrop-filter: blur(20px)) {
            background: transparentize(white, 0.25);
        }

    }
}

#main-outlet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1024px;
    opacity: 0;
    overflow: auto;
    margin: 0 auto;
    pointer-events: none;
    transition: all 0.25s;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}

.body-container {
    max-width: 1024px;
    margin: 3rem auto;
    padding: 3rem 0;
    background: white;
    border-radius: 1rem;
}

.subtitle {
    font-weight: medium;
    text-transform: uppercase;
    color:#9D9D9F;
    letter-spacing: 0.3px;
    font-size: 0.8em;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.title {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.get-button {
    background-color: #017BFF;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.4px;
}

@import "portfolio-grid";
