<div id="page-close-button-wrapper">
    {{#link-to "index" id="page-close-button"}}
        <img src="assets/svg/dark-cross.svg" />
    {{/link-to}}
</div>

{{portfolio-card null project=model hideGetButton=true}}

<div class="page-body">
    {{#each model.sections as |section|}}
        {{page-section section=section}}
    {{/each}}
</div>
